<!DOCTYPE html>
<html>
<head>
<style>

heads {
  background-color: white;
  color: black;              
  margin: 20px;              
  align: center;
  font-family: verdana;            
}
            
helpContainer {          
  background-color: black;              
  color: white;             
  align: left;              
  font-family: arial;            
}
body {
background-color: white;
}

title {
color: black;
text-align: center;
  font-size: 30px;
}

h1 {
color: black;
text-align: center;
font-family: verdana;
font-size: 25px;
}
p {
color: black;
text-align: left;
font-family: verdana;
font-size: 20px;
}
</style>
</head>
