<!DOCTYPE html>
<html>
<head>
<style>

body {
background-color: white;
}

title {
color: black;
text-align: center;
}

h1 {
color: black;
text-align: center;
font-family: verdana;
font-size: 20px;
}
p {
color: black;
text-align: left;
font-family: verdana;
font-size: 20px;
}
</style>
</head>
